*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;

}

.NavBarDiv{
  display: flex;
  align-items: center;
  justify-content: center;

 
  
}


.text-carosal {
  margin-bottom: 470px;
  margin-right: -290px;
}
.text-color{
  color: #494748;
  font-weight: 500;
  font-size: 2rem;
  font-family: 'Dosis', sans-serif;
}

.see{
background: linear-gradient(-45deg, #e581ab 0%, #f3eac9 100% );
display: block;
margin-left: 555px;
z-index: -1;
margin-right: 1999px;
border: none;
height: 50px;
width: 180px;
border-radius: 15px 15px 15px 15px;
}
.shopbtn{

background: linear-gradient(-45deg, #e581ab 0%, #f3eac9 100% );
display: block;
margin-left: 55px;
z-index: -1;
margin-right: 1999px;
border: none;
height: 50px;
width: 180px;
border-radius: 15px 15px 15px 15px;
}





