*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;

}

.NavBarDiv{
  display: flex;
  align-items: center;
  justify-content: center;

 
  
}


.text-carosal {
  margin-bottom: 470px;
  margin-right: -290px;
}
.text-color{
  color: #494748;
  font-weight: 500;
  font-size: 2rem;
  font-family: 'Dosis', sans-serif;
}

.see{
background: linear-gradient(-45deg, #e581ab 0%, #f3eac9 100% );
display: block;
margin-left: 555px;
z-index: -1;
margin-right: 1999px;
border: none;
height: 50px;
width: 180px;
border-radius: 15px 15px 15px 15px;
}
.shopbtn{

background: linear-gradient(-45deg, #e581ab 0%, #f3eac9 100% );
display: block;
margin-left: 55px;
z-index: -1;
margin-right: 1999px;
border: none;
height: 50px;
width: 180px;
border-radius: 15px 15px 15px 15px;
}

.left-side{
  margin-right: 740px;
}

.ImgDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.bridal-img{   
  float: left;
  background-image: url('https://cdn.shoplightspeed.com/shops/606632/themes/8322/v/471517/assets/banner-left.png?20220307175023');
  background-size: 100%; 
  background-repeat: no-repeat;
  position: scroll;
  height: 400px;
  margin-top: 100px;

}

/* .add-collection{
  float: right;
  background-image: url('./images/ring.png');
  background-size: 100%; 
  background-repeat: no-repeat;
  position: scroll;
  height: 400px;
  opacity: 0.5;
  margin-top: 100px;
} */

.size{
  height: 400px;
}
.bridal{
  
  margin-top: 150px;
  margin-left: 15px;
}
.shop{
  margin-left: 15px;
  font-family: 'Dosis', sans-serif;

}
.off{
  
  margin-left: 19px;
  font-family: 'Kalam', cursive;
 
  margin-top: 55px;
  font-size: 70px;
  margin-left: 95px;

}
.shopnow{
  height: 35px;
  width: 130px;
  background-color: black;
  color: white;
  margin-left: 206px;
  margin-top: 7px;
  font-weight: 600;
}
.saleinfo{
  display: center;
  font-size: 17px;
  margin-left: 89px;
  font-weight: 500px;
  justify-content: center;
  
}
.add-collection{
margin-left: 20px;
  /* background-color: rgba(238, 176, 104, 0.774); */
  height: 300px;
  width: 400px;
}
.custom{
  font-size: 18px;
  margin-left: 10px;
}
.design-title{
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  margin-top: 15px;
  text-align: center;
}
.background-container{
  background-color: #f3eac9;
  height: 500px;
  width: 1540px;
  display: block;
  
}
.card-container{
display: flexbox;
  
}
.shadow{
  border: none;
}
.carousel-container {
  width: 600px;
  height: 400px;
  position: relative;

}

.navigation-buttons .previous {
  position: absolute;
  z-index: 10;
  font-size: 25px;
  top: 40%;
  left: 10px;
  font-weight: 700;
}

.navigation-buttons .next {
  right: 10px;
  position: absolute;
  font-size: 25px;
  z-index: 10;
  top: 40%;
}

.navigation-buttons .nav-btn {
  background: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.navigation .nav-btn:hover {
  background: white;
}

.slider-carousel {
  margin-top: 20px;
  transition: all 0.3s ease;

}
.slider-carousel img {
  width: 100px;
  transition: all 0.10s ease;
  border:8px solid white;
}
.size-img{
  height: 500px;
}


@media screen and  (min-width:930px){
  .hide{
    display: none;
  }
}
.textbox{
  text-align: center;
  font-family: 'Dosis', sans-serif;
}
.box{
  align-items: center;
  justify-content: center;
  margin-left: 156px;
  background-color: #f3eac9;
}


.video-Div{
display: flex;
align-items: center;
justify-content: space-evenly;

}

.about-us{
display: flex;


}
.left-div{
float: left;

height: 500px;

}

.right-div{
float: right;
height:500px;
content: justify;
}
.read{
margin-left: 25px;
font-size: 34px;
font-weight: 800;

font-family: 'Dosis', sans-serif;

}
.background{
/* background: rgba(0, 0, 0, 0.55)url(./images/r2.jpg); */
background-size: 100%; 
background-repeat: no-repeat;
position: scroll;
height: 550px;
width: 100%;




}
.co-name{
font-size: 2rem;
  font-family: 'Dosis', sans-serif;
  margin-left:30px ;
  color:lightcoral ;
}
.about{
display: flex;
}
.pic-1{
height: 250px;
}
.img-about{
align-items: center;
justify-content: center;
}
p{
color: coral;
}






.Icons{
width: 800px;
display: flex;
margin-top: 10px;
}

.IconDiv{
padding: 10px;
height: 120px;
width: 120px;
}

.IconIMG{
height: 100px;
width: 100px;
border-radius: 50%;

}
.team{
font-size: 2rem;
font-family: 'Dosis', sans-serif;

color:lightcoral ;
text-align: center;


}

.nav-text{
width: 9em;
text-align: center;
height: 3em;
border-radius: 30em;
font-size: 15px;
font-family: inherit;
margin-top: 10px;
border: none;
position: relative;
overflow: hidden;
z-index: 1;

/* box-shadow: 6px 6px 12px #c5c5c5,
            -6px -6px 12px #ffffff; */
}

.nav-text::before {
content: '';
width: 0;
height: 3em;
border-radius: 30em;
position: absolute;
top: 0;
left: 0;
 background: linear-gradient(-45deg, #e581ab 0%, #f3eac9 100% );
transition: .5s ease;
display: block;
z-index: -1;
}

.nav-text:hover::before {
width: 9em;
}




.cards{
background: linear-gradient(-45deg, #e581ab 0%, #f3eac9 100% );
height: 400px;
}

.cards {
display: flex;
flex-direction: row;
gap: 15px;
align-items: center;
justify-content: center;
}

.cards .red {
background-color: white;
}

.cards .blue {
background-color: white;
}

.cards .green {
background-color: white;
}

.cards .card {
display: flex;
align-items: center;
justify-content: center;

text-align: center;
height: 290px;
width: 350px;
border-radius: 10px;
color: white;
cursor: pointer;
transition: 400ms;
}



.cards .card p.second-text {
color: black;
font-size: 17px;
font-weight: 600;
}

.cards .card:hover {
transform: scale(1.1, 1.1);
}

.cards:hover > .card:not(:hover) {

transform: scale(0.9, 0.9);
}
.icon{

height: 150px;
}
.star{
height: 30px;
}


.white-container{
height: 120px;
width: 100%;

}
.customer{
margin-top: 4px;
padding: 20px;
text-align: center;
}

.imageslider {
margin-right:120px;
margin-left: 120px;

}

.slider-cell {
width: 56%;
height: 300px;
margin-right: 5px;
background: white;
border-radius: 5px;
border: 1px solid  #f5a637;
/* counter-increment: slider-cell; */
}

/* cell number */
.slider-cell:before {
display: block;
text-align: center;
/* content: counter(slider-cell); */
line-height: 200px;
font-size: 90px;

}
.fst-customer{

padding: 20px;
}

.p-2{
  
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 0px;
margin-inline-end: 0px;
display: block;
margin-block-start: 1em;
margin-block-end: 1em;
margin-inline-start: 40px;
margin-inline-end: 40px;
float: left;
margin-top: 60px;
font-size: 17px;
color: black;
font-weight: 500;
}
.pic-1{
float: right;
margin-top: 20px;
padding: 10px;
}
.pic{
border-radius: 50%;
height: 190px;
}


/* h2{
  
margin-left: 25px;
font-size: 34px;
font-weight: 800;

font-family: 'Dosis', sans-serif;
} */

.contact-container{
  display: block;
  height: 600px;
  width: 1300px;

   margin-left: 120px;
   margin-top: 90px;
}

.location{
  margin-top: 25px;
  float: left;
}


.details{
  float: right;




}
.contact-form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
}

.contact-form label {
  color: black;
}

.contact-form .heading {
  font-size: 24px;
  color: black;
  ;
  margin-bottom: 12px;
  font-weight: bold;
  display: block;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form label {
  margin-bottom: 10px;
}

textarea {
  resize: none;
  height: 280px;
  width: 500px;
}

.contact-form input, .contact-form textarea {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.contact-form input:focus, .contact-form textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #ff6384;
  transform: scale(1.05);
  transition: transform 0.3s ease-in-out;
}

.contact-form button[type="submit"] {
  background-color: #ff6384;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.contact-form button[type="submit"]:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}


.container{
  height: 700px;

  width: 100%;
  margin-top: 20px;
}
.model{
  height: 450px;
  width: 300px;
  margin-top: 10px;
  display: inline-block;
}

.model2{
  display: inline-block;
  height: 700px;

}
.model3{
  display: inline-block;
  height: 490px;

}
