*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;

}

.navbar{
  position: relative;

}
.nav-link:hover{
  scale: 1.04;
  
}

a{
  margin-left: 84px;
}
.logo{
  margin-left: 46px;
  height: 65px;
}



.text-carosal {
  margin-bottom: 470px;
  margin-right: -290px;
}
.text-color{
  color: #494748;
  font-weight: 500;
  font-size: 2rem;
  font-family: 'Dosis', sans-serif;
}

.see{
display: block;
margin-left: 555px;
z-index: -1;
margin-right: 1999px;
border: none;
height: 50px;
width: 240px;
margin-top: 200px;
background-color: black;
color: white;

margin-top: 26px;
font-weight: 600;

}
.shopbtn{


display: block;
margin-left: 55px;
z-index: -1;
margin-right: 1999px;
border: none;
height: 50px;
width: 180px;

background-color: black;
color: white;
margin-left: 206px;
margin-top: 11px;
font-weight: 600;
}

.left-side{
  margin-right: 740px;
}

.ImgDiv{
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.bridal-img{   
  float: left;
  background-image: url('https://cdn.shoplightspeed.com/shops/606632/themes/8322/v/471517/assets/banner-left.png?20220307175023');
  background-size: 100%; 
  background-repeat: no-repeat;
  position: scroll;
  height: 400px;
  margin-top: 100px;

}



.size{
  height: 400px;
}
.bridal{
  
  margin-top: 150px;
  margin-left: 15px;
}
.shop{
  margin-left: 15px;
  font-family: 'Dosis', sans-serif;

}
.off{
  
  margin-left: 19px;
  font-family: 'Kalam', cursive;
 
  margin-top: 55px;
  font-size: 70px;
  margin-left: 95px;

}
.shopnow{
  height: 35px;
  width: 130px;
  background-color: black;
  color: white;
  margin-left: 206px;
  margin-top: 7px;
  font-weight: 600;
}
.saleinfo{
  display: center;
  font-size: 17px;
  margin-left: 89px;
  font-weight: 500px;
  justify-content: center;
  
}
.add-collection{
margin-left: 20px;
  background-color: #f3eac9;
  height: 300px;
  width: 400px;
}
.custom{
  font-size: 18px;
  margin-left: 10px;
}
.design-title{
  font-family: 'Roboto Slab', serif;
  font-size: 35px;
  margin-top: 15px;
  text-align: center;
}
.background-container{
  background-color: #f3eac9;
  height: 500px;
  width: 1540px;
  display: block;
  
}
.card-container{
display: flexbox;
  
}
.shadow{
  border: none;
}
.carousel-container {
  width: 600px;
  height: 400px;
  position: relative;

}

.navigation-buttons .previous {
  position: absolute;
  z-index: 10;
  font-size: 25px;
  top: 40%;
  left: 10px;
  font-weight: 700;
}

.navigation-buttons .next {
  right: 10px;
  position: absolute;
  font-size: 25px;
  z-index: 10;
  top: 40%;
}

.navigation-buttons .nav-btn {
  background: rgba(255, 255, 255, 0.55);
  cursor: pointer;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.navigation .nav-btn:hover {
  background: white;
}

.slider-carousel {
  margin-top: 20px;
  transition: all 0.3s ease;

}
.slider-carousel img {
  width: 100px;
  transition: all 0.10s ease;
  border:8px solid white;
}
.size-img{
  height: 500px;
}


@media screen and  (min-width:930px){
  .hide{
    display: none;
  }
}
.textbox{
  text-align: center;
  font-family: 'Dosis', sans-serif;
}
.box{
  align-items: center;
  justify-content: center;
  margin-left: 156px;
  /* background-color: #f3eac9; */
}


.video-Div{

align-items: center;
justify-content: center;

margin-left: 1000px;



}
.vd-1{
  margin-left: 10px;
}


.backgroundring{

  display: block;
  margin-bottom: 25px;
  height: 400px;
  width: 1300px;
  margin-left: 120px;
}
.showroom{
  
  height: 360px;
  float: left;
  margin-top: 40px;
  margin-left: 6px;

}
.ring{
  float:left;
}
.visit{
  float: right;
  margin-top: 100px;

  height: 200px;
  width: 600px;
  margin-right: 100px;
}
.words{
  margin-left: 20px;
  margin-top: 120px;
  font-size: 32px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;

}
h6{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: center;
  font-style: italic;
  margin-left: 20px;
}
h7{
  margin-left: 20px;
  text-align: center;
}




.book {
  display: inline-block;
 
  color: black;
  box-shadow:  8px 8px 15px #d1d9e6, -10px -10px 15px #fff;;
  padding: 10px 20px;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: 0.6s;
  border: none;
  margin-left: 20px;

}
.book:hover {
  
cursor: pointer;
  scale: 1.04;
}






.model{
  height: 450px;
  width: 300px;
  margin-top: 10px;
  display: inline-block;
}

.model2{
  display: inline-block;
  height: 700px;

}
.model3{
  display: inline-block;
  height: 490px;

}

.TestFont{
  margin-top: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TextFont{
  margin-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.TextFont-Text{
  text-decoration: solid;
  color: black;
  font-size: 40px;

}

.TextFont-SmallText{
  text-decoration: solid;
  color: black;
  font-size: 23px;

}

.TestimonialDiv{
  margin-top: 3x;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  height: 270px;
  margin-left: 110px;
 
}

.TestimonialDiv2{
  /* display: block;
  align-items: center;
  justify-content:center; */

 margin-top: 5px;
 margin-left: 110px;
}

.TestImg{

 margin-top: 12px;
}

.Img{
  height: 280px;
  
}
.footer{
  background-color: black;
}
.logo-footer{
  height: 200px;
  margin-top: 20px;
}
.text-reset{
  margin-left: 110px;
  font-weight: 500;
  margin-top: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.address{
  margin-left:50px ;
  font-weight: 600;
}
span{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font: italic;
}